body {
  display: flex;
  height: 95vh;
  background: ghostwhite;

}
.navigation {
  margin-top: 35px;
  margin-left: 15vw;
  align-self: baseline;
  margin-right: 6vw;

}

.banner {
  margin-bottom: 40px;
  font-size: 55px;
  text-align: left;
  font-family: 'helvetica neue', monospace;
  letter-spacing: 4px;
  font-weight: bold;
  text-shadow: 1px 1px #ff0ab1;
}
.nav-links {
  text-align: left;
  font-size:20px;
  font-family: 'monaco', monospace;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.content-wrapper {
align-self: baseline;
overflow-y: auto;
width: 99vw;
height: 95vh;
min-width: 300px;
color: black;
font-family: 'helvetica neue', monospace;
font-size: 16px;
line-height: 1.2;
letter-spacing: 1px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 20px;
}
.content {
  margin: 0 20vw 0 auto;
}

h1 {
  font-weight: normal;
  font-size: 35px;
  color: black;
  border-top: 2px #000 solid;
  padding-top: 30px;
  letter-spacing: 0.5px;
}
h2 {
  font-weight:200;

}

.banner a {
  color: black;
  text-decoration: none;
}
.banner a:hover {
  text-decoration: underline #ff0ab1;
}

.content-wrapper a {
  color: #ff0ab1;
  transition: color 1.5s;
  padding: 2px;
}

.content-wrapper a:hover {
  color: #cbcfed;
  transition: 0.5s;
}
a {
text-decoration: none;
color: #ff0ab1;
}

.nav-links a {
  padding: 5px;
  font-weight: bold;
}
.nav-links a:hover{
  color: #cbcfed;
  transition: 0.5s;
}

  @media (max-width: 900px){
    body {
      flex-flow: row wrap;
    }

  }
