<!DOCTYPE html>
<html>

<head>
  <title>~ teddie brock ~</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16671024-9', 'auto');
  ga('send', 'pageview');
  </script>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <div class="navigation">
      <div class="banner"></span><a href="{{ site.baseurl }}/">teddie<br> brock</a></div>
      <div class="nav-links"><a href="{{ site.baseurl }}/about">about</a>
      <br><a href="{{ site.baseurl }}/portfolio">portfolio</a>
      <br><a href="{{ site.baseurl }}/notebook">notebook</a>
      <br><a href="{{ site.baseurl }}/contact">contact</a>
      <br>
    </div>
  </div>
<div class="content-wrapper">
    <div class ="content">

      {{ content }}

    </div>
    </div>
</body>

</html>
